* {
    padding: 0;
    margin: 0;
    font-family: 'calibri';
    color: darkcyan;
    scroll-behavior: smooth;
}
nav {
    /* position: sticky;
    top: 0; */
    background-color: white;
    box-shadow: 0 5px 10px lightblue;
    margin-bottom: 30px;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.navBrand h2 {
    cursor: pointer;
}
nav .navList ul {
    display: flex;
    list-style: none;
}
nav .navList ul li {
    padding: 20px;
}
nav .navList ul li a {
    text-decoration: none;
}
nav .navList ul li a:hover {
    padding: 20px 0;
    border-bottom: 3px solid darkcyan;
}
.container {
    width: 80%;
    margin: auto;
}
section {
    padding: 20px 0;
    width: 80%;
    margin: auto;
}
section#about .about {
    display: flex;
    align-items: center;
}
section#about .about .intro h4 {
    border-bottom: 2px solid darkcyan;
    padding: 5px 0;
    width: 150px;
}
section#about .about .intro p {
    padding: 10px 0;
}
section#about .about .intro a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid darkcyan;
    border-radius: 20px;
    transition: 0.3s;
    margin: 10px 0;
}
section#about .about .intro a:hover {
    background-color: darkcyan;
    color: white;
}
section#about .about .img-intro img {
    border-radius: 50%;
    box-shadow: 0 0 10px darkcyan;
}
.card {
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 180px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 20px blue;
    transform: translateY(10px);
}
.card img {
    width: 120px;
    margin: auto;
}
.card h3 {
    border-bottom: 1px solid darkcyan;
    width: 140px;
    margin: 10px auto;
    padding-bottom: 5px;
}
.card p {
    font-size: 14px;
}
.upside-row {
    display: flex;
    justify-content: center;
}
.downside-row {
    display: flex;
    justify-content: center;
}
.scroll-up a, .scroll-down a {
    text-decoration: none;
    display: inline-block;
    background-color: darkcyan;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 20px;
    margin: auto;
}
.scroll-down a {
    bottom: 50px !important;
}
#whatsapp, #email, #instagram, #twitter {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.contact h4 {
    padding: 0 10px;
}
.contact img {
    width: 24px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: darkcyan;
}
footer h4 {
    color: white;
}